.addStudent-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 68vh;
    color: #b86a26;;
    margin-top: 2rem;
}

.addStudent-container form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(194, 113, 42, 0.783);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 1px 5px 13px #5c5252;
  margin-bottom: 2rem;

}

.addStudent-container label {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
}
.addStudent-container input {
  width: 57%;
  height: 3rem;
  border-radius: 1rem;
  padding: 0 3rem;
  font-size: 1rem;
  text-align: center;
}

.addStudent-adds-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.addStudent-label-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.addStudent-label-container div {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
