.App{
  width:100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.home-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(184, 106, 38);
}

.App-header{
  margin-top: 4rem;
}

.App footer{
  background: red;
}