.nav-style {
  width: 100%;
  height: 17vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 2.2rem 7rem;
  padding-top: 2.5rem;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(130, 125, 130, 1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(130, 125, 130, 1);
  box-shadow: 0px 3px 5px 0px rgba(130, 125, 130, 1);
  background: linear-gradient(209deg, #9abac9, #bbbc60, #77b096);
  background-size: 600% 600%;
}
.nav-style {
animation: nav-style 3s ease infinite;
}
@keyframes nav-style {
    0%{background-position:0% 44%}
    50%{background-position:100% 57%}
    100%{background-position:0% 44%}
}

.nav-style-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.3rem 0 0 0;
}

.nav-style-left a {
  text-decoration: none;
}

.nav-style .header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-style h1 {
  font-family: "Brush Script MT", cursive;
  font-size: 500%;
  font-style: normal;
  font-feature-settings: normal;
  font-variant: normal;
  font-weight: 400;
  margin-left: 28rem;
  line-height: 23px;
  color: #b86a26;
}

.nav-style h1 {
	animation: h1 4s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@keyframes h1 {
  0% {
    transform: rotateX(-70deg);
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
}


.nav-style ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-bottom: 1rem;
}

.nav-style li {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 20px;
  color: rgb(184, 106, 38);
}

.navbar-logo {
  top: 10%;
  position: fixed;
  width: 9.5%;
}

.navbar-logo {
	animation: navbar-logo 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@keyframes navbar-logo {
  0% {
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    transform: rotate(0) scale(2);
    opacity: 1;
  }
  }


.nav-link {
  text-decoration: none;
  color:rgb(184, 106, 38)
}


